.scroll{
  padding-bottom: 15rem;
  margin-top: 9rem;
  &__wrap{
    height: 5rem;
    width:  2rem;
    border: solid 2px #208CAE;
    border-radius: 4rem;
    margin: 0 auto;
    &-Circle{
      position: relative;
      text-align: center;
      height: 1rem;
      width:1rem;
      background:#208CAE;
      border-radius: 4rem;
      top: 29px;
      right: -3px;
    }
  }
}
