.jumbotron{
    text-align: center;
    background-color: #ffffff !important;
  &__server{

  }
  &__pc{
    margin-top: 6.2rem;
    margin-left: -4.5rem;
  }
  &__textwrap{
    margin-top: 3rem;
    &-title{
      font-weight: bold;
    }
    &-caption{
      font-size: 1.5rem;
    }
  }
}
