.products__title{
  padding-top: 9rem;
  text-align: center;
  color: white;
  font-weight: bold;
}
.partCard{
  margin-top:5rem;
  &__item{
    color: white;
    font-size: 1.5rem;
    & > img{
      margin-bottom: 2rem;
    }
  }
}
